.Header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 2px solid #000000;
    margin-bottom: 35px;
}
.list {
    list-style: none;
    margin: 0;
}
.list li {
    display: inline-block;
    margin-left: 25px;
}
.list li:hover {
    cursor: pointer;
}
.Header a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}