.SideBar {
    width: 250px;
    height: 800px;
    float: left;
    margin-right: 10px;
}
.SideBar ul {
    margin-top: 0;
}
.SideBar li {
    margin-bottom: 7px;
    font-size: 18px;
    text-transform: capitalize;
}
.SideBar li:hover {
    cursor: pointer;
}