.Post {
    margin: 30px auto 0;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    box-sizing: border-box;
}
.btn {
    background-color: #ccc;
    border: none;
    color: black;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 5px;
    margin-top: 20px;
    font-weight: bold;
    margin-right: 20px;
}
.author{
    color: #cccccc;
}
.text {
    font-size: 20px;
    padding-left: 20px;
}